Repository scoutmaker/scoutmaker-web-v2, pull requests merged in 2022-12, with the labels that each got.

#96 [SCOUT-250] unassigned tab
  public/locales/en/common.json
  public/locales/en/matches.json
  public/locales/pl/common.json
  public/locales/pl/matches.json
  src/modules/matches/hooks/use-single-match-page-data.ts
  src/modules/notes/types.ts
  src/pages/matches/[id].tsx
Labels: REVIEW DONE

#94 Feat/scout 260 dashboard
  public/locales/en/dashboard.json
  public/locales/pl/dashboard.json
  src/components/links/optional-link.tsx
  src/modules/dashboard/BasicCard.tsx
  src/modules/dashboard/CountCard.tsx
  src/modules/dashboard/CreateCard.tsx
  src/modules/dashboard/ListDataCard.tsx
  src/modules/dashboard/NoteCard.tsx
  src/modules/dashboard/ReportCard.tsx
  src/modules/dashboard/hooks.ts
  src/modules/dashboard/layouts/base.tsx
  src/modules/dashboard/layouts/playmaker-manager.tsx
  src/modules/dashboard/layouts/playmaker-scout.tsx
  src/modules/dashboard/layouts/scout-organization.tsx
  src/modules/dashboard/layouts/scout.tsx
  src/modules/dashboard/types.ts
  src/modules/matches/utils.ts
  src/modules/teams/details-card.tsx
  src/pages/dashboard.tsx
  src/pages/players/index.tsx
  src/services/api/methods/dashboard.ts
  src/services/api/modules.ts
  src/types/generated.d.ts
Labels: DO NOT MERGE, READY FOR REVIEW, v1.1

#99 Feat/scout 280 confirm leave
  public/locales/en/common.json
  public/locales/pl/common.json
  src/modules/notes/forms/create.tsx
  src/modules/reports/forms/create.tsx
  src/pages/go-to-match/index.tsx
  src/pages/notes/create.tsx
  src/pages/reports/create.tsx
  src/utils/hooks/use-confirm-leave.ts
Labels: REVIEW DONE, v1.2

#105 add empty year range
  src/modules/notes/types.ts
  src/modules/players/types.ts
  src/modules/reports/types.ts
  src/pages/notes/index.tsx
  src/pages/players/index.tsx
  src/pages/reports/index.tsx
Labels: REVIEW DONE, v1.2

#106 add liking player with note & report
  src/modules/matches/hooks/use-single-match-page-data.ts
  src/modules/notes/table/row.tsx
  src/modules/notes/table/table.tsx
  src/modules/notes/utils.ts
  src/modules/reports/table/row.tsx
  src/modules/reports/table/table.tsx
  src/modules/reports/utils.ts
  src/pages/notes/index.tsx
  src/pages/players/[slug].tsx
  src/pages/reports/index.tsx
Labels: REVIEW DONE, v1.2

#100 Feat/scout 326 default sorting
  src/pages/matches/index.tsx
  src/pages/notes/index.tsx
  src/pages/players/index.tsx
  src/pages/reports/index.tsx
  src/types/generated.d.ts
  src/utils/hooks/use-table.ts
Labels: DO NOT MERGE, REVIEW DONE, v1.2

#101 Feat/scout 360 match sorting
  src/modules/notes/table/table.tsx
  src/modules/reports/table/table.tsx
  src/types/generated.d.ts
Labels: DO NOT MERGE, REVIEW DONE, v1.2

#102 Feat/scout 327 update columns
  public/locales/en/common.json
  public/locales/pl/common.json
  src/modules/clubs/table/row.tsx
  src/modules/clubs/table/table.tsx
  src/modules/insider-notes/table/row.tsx
  src/modules/insider-notes/table/table.tsx
  src/modules/matches/table/row.tsx
  src/modules/matches/table/table.tsx
  src/modules/notes/table/row.tsx
  src/modules/notes/table/table.tsx
  src/modules/players/table/row.tsx
  src/modules/players/table/table.tsx
  src/modules/reports/table/row.tsx
  src/modules/reports/table/table.tsx
  src/modules/teams/table/teams-row.tsx
  src/modules/teams/table/teams.tsx
  src/types/generated.d.ts
Labels: DO NOT MERGE, REVIEW DONE, v1.2

#103 Feat/scout 361 player profile
  public/locales/pl/common.json
  src/modules/players/details-card.tsx
Labels: DO NOT MERGE, REVIEW DONE, v1.2

#104 Feat/scout 369 multi rating filter
  src/components/combos-data/rating-range.ts
  src/modules/notes/forms/filter.tsx
  src/modules/notes/types.ts
  src/modules/notes/utils.ts
  src/modules/reports/forms/filter.tsx
  src/modules/reports/types.ts
  src/modules/reports/utils.ts
  src/pages/notes/index.tsx
  src/pages/reports/index.tsx
  src/types/generated.d.ts
  src/utils/rating-range-maps.ts
Labels: DO NOT MERGE, REVIEW DONE, v1.2
